version: 2
updates:
  - package-ecosystem: "pip"
    directory: "/"
    schedule:
      interval: "daily"
    open-pull-requests-limit: 5
    allow:
      - dependency-name: "ecologits"
    ignore:
      - dependency-name: "ecologits"
        update-types: ["version-update:semver-patch"]
